<a href="/restaurants/new">Add A Restaurant</a>
<a href="/restaurants">See All Restaurants</a>
<a href="/users">See All Users</a>
<h3>Edit Name</h3>
<p><form method="POST" action="/users/<%=@user.id%>">
<label for="username">User Name:</label><input type="text" value="<%=@user.name%>" name="user[name]">
<input type="hidden" id="hidden" name="_method" value="patch">
<input type="submit" value="Edit User">
</form></p>
