<a href="/restaurants/new">Add A Restaurant</a>
<a href="/users/new">Add A User</a>
<a href="/restaurants">See All Restaurants</a>
<h1>Users</h1>
<ul><% @users.each do |user| %>
<p><li><a href="/users/<%=user.id%>"><%= user.name %></a></li></p>
<% end %></ul>