<a href="/restaurants/new">Add A Restaurant</a>
<a href="/restaurants">See All Restaurants</a>
<a href="/users">See All Users</a>
<h3>Sign Up</h3>
<p><form method="POST" action="/users">  
<label for="username">User Name:</label><input type="text" name="name">
<input type="submit" value="Create User">
</form></p>