<h3>Edit A Restaurant</h3>

<form method="POST" action="/restaurants/<%=@restaurant.id%>">

<p><label for="rest_name">Restaurant Name:</label><input type="text" name="restaurant[name]" value="<%=@restaurant.name%>"></p>

<p><label for="address">Restaurant Address:</label><input type="text" name="restaurant[address]" value="<%=@restaurant.address%>"></p>

<p><label for="category">Restaurant Category:</label><input type="text" name="restaurant[category]" value="<%=@restaurant.category%>"></p>

<input type="hidden" id="hidden" name="_method" value="patch">

<p><input type="submit" value="Edit Restaurant"></p>

</form>
