<a href="/restaurants/new">Add A Restaurant</a>
<a href="/users/new">Add A User</a>
<a href="/users">See All Users</a>
<br></br>
<ul>
<% @restaurants.each do |rest| %>
<li><a href="/restaurants/<%=rest.id%>"><%= rest.name %></a></li>
<% end %>
</ul>