<a href="/restaurants/new">Add A Restaurant</a>
<a href="/users/new">Add A User</a>
<a href="/users">See All Users</a>

<h3>Restaurants</h3>
<ul>
<% @restaurants.each do |rest| %>
<p><li><a href="/restaurants/<%=rest.id%>"><%= rest.name %></a></li></p>
<% end %>
</ul>
