<h3>Add A Category</h3>
<form method="POST" action="/category">  
<p><label for="category">New Category:</label><input type="text" name="cat[name]"></p>
<p><input type="submit" value="Create Category"></p>
</form>