<h2><p>Category:</p></h2>
<h3><p><%= @category.name %></p>
<p>Restaurants:</p></h3>

<% @rest.each do |rester| %>
<a class="nolist" href="/restaurants/<%=rester.id%>"><%=rester.name%></a>
<%end %>
<br></br><br></br>

<p><a href="/categories/<%=@category.id%>/edit">Edit Category</a></p>
