<h2><p>Category:</p></h2>
<h3><p><%= @category.name %></p>
<p>Restaurants:</p></h3>
<ul>
<% @rest.each do |rester| %>
<li> <a href="/restaurants/<%=rester.id%>"><%=rester.name%></a> </li>
<%end %>
</ul>
