<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    body {
        background-color: #EDD3C4;
        font-family: 'Century Gothic';
      }

      #homepagelinks {
        text-align: center;
      }

      a:link {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center; 
        text-decoration: none;
        display: inline-block;
        border-radius: 25px;
        margin: 5px;
      }

      a:hover {
        color: #930516;
        background-color: #98473E;
        color: white;
        padding: 14px 25px;
        text-align: center; 
        text-decoration: none;
        display: inline-block;
      }

      a:visited {
        color: white;
      }
    </style>
</head>
<body>

</body>
</html>

<div id="homepagelinks"><h1>
<p><a href="/restaurants/new">Add A Restaurant</a></p>
<p><a href="/users/new" style='padding: 14px 50px'>Add A User</a></p>
<p><a href="/categories/new">Add A Category</a></p>
<p><a href="/restaurants">See All Restaurants</a></p>
<p><a href="/users">See All Users</a></p>
<p><a href="/categories">See All Categories</a></p>
</h1></div>