<div id="homepagelinks"><h1>
<p><a href="/restaurants/new">Add A Restaurant</a></p>
<p><a href="/users/new">Add A User</a></p>
<p><a href="/categories/new">Add A Category</a></p>
<p><a href="/restaurants">See All Restaurants</a></p>
<p><a href="/users">See All Users</a></p>
<p><a href="/categories">See All Categories</a></p>
</h1></div>