<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Finder</title>
</head>
<body>

    <%= yield %>
<p><small>Copyright Laura Shapiro and Amanda Steckler 2016 Flatiron School Etc.</small></p>
</body>
</html>