<!DOCTYPE html>
<html>
<head>

  <title>Restaurant Finder</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

  <style>
  .column {
    -webkit-column-count: 3 ; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-width: 5px; /* Chrome, Safari, Opera */
    -moz-column-width: 5px; /* Firefox */
    column-width: 5px;
    -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
    -moz-column-gap: 5px; /* Firefox */
    column-gap: 5px;
}
  .more-column {
    -webkit-column-count: 5 ; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    -webkit-column-width: 5px; /* Chrome, Safari, Opera */
    -moz-column-width: 5px; /* Firefox */
    column-width: 5px;
    -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
    -moz-column-gap: 5px; /* Firefox */
    column-gap: 5px;
}
    #navbar {
      list-style-type: none;
      margin-left: 5%;
      padding: 0;
      overflow: hidden;
      text-align:center;

    }
 
    .navbaritem {
      list-style-type: none;
      float: left; 
    }

    .navbaritem a {
   display:inline-block;

    }

    li {
      list-style-type: none;
    }

    select {
      min-width: 175px;
    }
    body {
      background-color: #EDD3C4;
      font-family: 'Poppins';
    }

    #homepagelinks {
      text-align: center;
    }

    a:link {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center; 
      text-decoration: none;
      display: inline-block;
      border-radius: 25px;
      margin: 5px;
    }

    a:hover {
      color: #930516;
      background-color: #98473E;
      color: white;
      padding: 14px 25px;
      text-align: center; 
      text-decoration: none;
      display: inline-block;
    }

    a:visited {
      color: white;
    }

    a < .nolist {
       float:left;
       display: inline;
       margin-right:77%;
    }

    input[type=button], input[type=submit], input[type=reset] {
      background-color: #7C6BBA ;
      border: none;
      color: white;
      padding: 7px 20px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
   }

    input[type=text] {
      background-color: #E3DBFF ;
      border: solid;
      border-width: 1px;
      border-color: #7C6BBA;
      color: #7C6BBA;
      padding: 5px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      float: right;
      margin-right: 74%;
/*      float:right;
      display:inline-block;
      margin-right: 50%;
      overflow:hidden;
      white-space:nowrap;
*/   }

  </style>
</head>
<body>

    <ul id='navbar'>
      <li class="navbaritem"><a href="/restaurants/new">Add A Restaurant</a></li>
      <li class="navbaritem"><a href="/users/new">Add A User</a></li>
      <li class="navbaritem"><a href="/categories/new">Add A Category</a></li>
      <li class="navbaritem"><a href="/restaurants">See All Restaurants</a></li>
      <li class="navbaritem"><a href="/users">See All Users</a></li>
      <li class="navbaritem"><a href="/categories">See All Categories</a></li>
    </ul>

    <br>
    <%= yield %>
    <br></br>
<p><small>Copyright Laura Shapiro and Amanda Steckler 2016 Flatiron School Etc.</small></p>
</body>
</html>